html {
  font-size: 110%;
  line-height: 1.65;
  color-scheme: light dark;
}

body {
  min-height: 100dvh;
  font-family: 'Open Sans', sans-serif;

  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--color-text);
}
